@font-face {
    font-family: GameOver;
    font-weight: bold;
    src: url('resources/game_over.otf');
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: GameOver,bold;
    font-size: 60px;
    line-height: 45px;
    width:100%;
}

canvas {
    background-color: #000;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    margin: 0;
}

button {
    font-family: inherit;
    font-size: .85em;
    background-color: transparent;
    border: 4px solid white;
    padding-top: -10px;
    color: white;
}

button:hover {
        background-color: white;
        color: gray;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
        text-decoration: underline;
}
.box {
	overflow: auto;
}

.float-left {
	float:left;
}
.float-right {
	float:right;
}
	
.controls {
	font-size:2em;
    width: 100%;
    margin-top: 200px;
	overflow: auto;
	text-align:center;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}

.button {
	background-color: grey;
    margin:0;
	width:45%;
	height:220px;
}

.sbutton {
	margin-top:10px;
    background-color: red;
	width:20%;
}

@media screen and (orientation: landscape) and (min-device-width: 1024px) {
    .controls{
        display: none;
    }
}
	
.main {
    width: 1009px;
    margin-right: auto;
    margin-left: auto;
    background-color: gray;
}

.game {
    margin-right: auto;
    margin-left: auto;
    padding: 0 45px;
    width: 919px;
    height: 768px;
}

.topbar {
    height: 45px;
    padding: 0 45px;
}

#overlay {
    position: absolute;
    top: 45px;
    width: 919px;
    height: 768px;
    background-color: #000;
    text-align: center;
}

.overtext {
    padding-top: 35%;
    margin: 0;
}

.overtop {
    line-height: 0.5em;
}

.life {
    display: inline-block;
    font-size: .5em;
    line-height: .7em;
    margin: 10px 5px;
}

.right {
    text-align: right;
    float: right;
    width: 15%;
}

    .right button {
        margin-top: 3px;
    }

.left {
    float: left;
    width: 15%;
    text-align: left;
}

.center {
    display: inline-block;
    width: 70%;
    text-align: center;
}

.foot {
    font-size: .7em;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.2);
    text-align: center;
}

    .foot .right, .foot .left {
        width: 49% !important;
    }

    .foot p {
        margin: 0;
    }