@font-face{
    font-family: GameOver;
    font-weight: bold;
    src: url('../images/game_over.otf');
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: GameOver, sans-serif;
    font-size:60px;
}

canvas {
    background-color: #000;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    margin: 0;
}

.main {
    width: 1009px;
    margin-right: auto;
    margin-left: auto;
    background-color: gray;
}

.game {
    margin-right: auto;
    margin-left: auto;
    padding: 0 45px;
    width: 919px;
    height: 768px;
}

.topbar {
    height: 45px;
    padding: 0 45px;
}

#overlay {
    position:absolute;
    top:45px;
    width: 919px;
    height: 768px;
    background-color: #000;
    text-align:center;
}

.overtext {
    padding: 35% 0;
    margin: 0;
}

#lives{
    position:relative;
    float:right;
    color:red;
}

.life {
    margin: 10px 5px;
}